# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
# See README for more details.

PORT=7000
BURN_API_URL=http://192.168.16.69:3000/scan
ETHERSCAN_URL=https://rinkeby.etherscan.io
ADDRESS_PREFIX=ADDRESS_PREFIX