// Footer
footer.page-footer.font-small
  .container.text-center.text-md-left.mt-3.p-sm-0
    .row.mt-3.text-dark
      .col-md-3.col-lg-4.col-xl-3.mb-4
        h6.text-uppercase.font-weight-bold Powewed by BURN
      .col-md-3.col-lg-2.col-xl-3.ml-auto.mb-4.text-md-right
        h6.text-uppercase.font-weight-bold Company
        hr.black.accent-3.mb-4.mt-0.d-inline-block.mx-auto(style='width: 100px;')
        p
          a.text-dark(href='#!') About Us
        p
          a.text-dark(href='#!') Contact Us
        p
          a.text-dark(href='#!') Terms of Service
      .col-md-3.col-lg-2.col-xl-3.ml-auto.mb-4.text-md-right
        h6.text-uppercase.font-weight-bold Developers
        hr.black.accent-3.mb-4.mt-0.d-inline-block.mx-auto(style='width: 100px;')
        p
          a.text-dark(href='#!') APIs
        p
          a.text-dark(href='#!') Documentation
      .col-md-3.col-lg-2.col-xl-3.ml-auto.mb-md-0.mb-4.text-md-right
        h6.text-uppercase.font-weight-bold Products
        hr.black.accent-3.mb-4.mt-0.d-inline-block.mx-auto(style='width: 100px;')
        p
          a.text-dark(href='#!') BURN Network
        p
          a.text-dark(href='#!') Tachyon Wallet
