// Footer
footer.page-footer
  .container.text-md-left.mt-3.p-sm-0
    .row.mt-3
      .col-lg-4.mb-lg-0.mb-4
        span.h4.text-uppercase Powewed by BURN
      .col-6.col-md-4.ml-md-auto.col-lg-2.mb-lg-0.mb-4
        h6.text-uppercase Company
        hr.accent-3.mb-3.mt-0.d-inline-block(style={'width': '100%;', 'background-color': 'rgba(231,234,243,.2)'})
        p
          a(href='#!') About Us
        p
          a(href='#!') Contact Us
        p
          a(href='#!') Terms of Service
      .col-6.col-md-4.ml-md-auto.col-lg-2.mb-lg-0.mb-4
        h6.text-uppercase Developers
        hr.accent-3.mb-3.mt-0.d-inline-block(style={'width': '100%;', 'background-color': 'rgba(231,234,243,.2)'})
        p
          a(href='#!') APIs
        p
          a(href='#!') Documentation
      .col-6.col-md-4.ml-md-auto.col-lg-2.mb-lg-0.mb-4
        h6.text-uppercase Products
        hr.accent-3.mb-3.mt-0.d-inline-block(style={'width': '100%;', 'background-color': 'rgba(231,234,243,.2)'})
        p
          a(href='#!') BURN Network
        p
          a(href='#!') Tachyon Wallet
