nav.navbar.navbar-expand-lg.navbar-light.bg-white
  a.navbar-brand(href='#') IGISCAN
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarContent' aria-controls='navbarContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarContent.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='#') Home
      li.nav-item
        a.nav-link(href='#') Blocks
      li.nav-item
        a.nav-link(href='#') Transactions
      li.nav-item
        a.nav-link(href='#') Tokens
      li.nav-item
        a.nav-link(href='#') KVS
      li.nav-item.sign-in
        i.fas.fa-user
        a.nav-link(href='#') Sign In
