body {
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  /* background-color: #f5f5f5; */
  font-size: 16px;
}

/*
  header
*/
li.sign-in{
  position: relative;
}
.sign-in i{
  top: 11px;
  position: absolute;
  left: .5rem;
}
.sign-in a{
  margin-left: 20px;
}
.header .nav-link:hover{
  color: #007bff !important;
}

@media(max-width: 992px){
  .navbar .nav-item .nav-link {
    padding-left: 0;
  }
  
  .sign-in i {
    left: 0;
  }
}

/*
  title
*/
.title{
  background-color: #dddddd;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid black;
  height: 260px;
}

@media(max-width: 480px){
  .title h3{
    font-size: 1.5rem;
  }
}

/*
  block title
*/
.block-title{
  height: 200px;
  border: 1px solid black;
  border-radius: 15px;
  transform: translateY(-50px);
  background-color: #ffffff;
  width: 100%;
  padding: 15px;
  display: flex;
}
.block1, .block2{
  width: 33%;
  height: 100%;
  padding-top: 15px;
  border-right: 1px solid black;
}

.block3 {
  width: 33%;
  height: 100%;
  padding-top: 15px
}

.row1 {
  height: 50%;
  position: relative;
  padding-left: 25px;
}

.row3{
  display: none;
}

.row2, .row3{
  height: 50%;
  padding-left: 25px;
  padding-top: 15px;
}

.row1::after {
  top: 100%;
  position: absolute;
  display: block;
  content: "";
  width: 90%;
  height: 1px;
  left: 5%;
  background-color: black;
}

.number{
  font-weight: bold;
}

@media(max-width: 992px){
  .number, h5{
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  h5{
    font-size: 1rem;
  }

  .block-title{
    height: 500px;
  }

  .row2{
    position: relative;
  }

  .row2::after {
    top: 100%;
    position: absolute;
    display: block;
    content: "";
    width: 90%;
    height: 1px;
    left: 5%;
    background-color: black;
  }

  .row1, .row2, .row3{
    display: block;
    height: 33%;
  }

  .block1, .block2{
    width: 50%;
    height: 100%;
  }

  .block2{
    border-right: none;
  }

  .block3, .bl3{
    display: none;
  }

  .number, h5{
    max-width: 100px;
  }

}

label.entries {
  font-size: 16px;
}

.custom-select {
  width: auto;
  font-size: 12px;
  margin-left: 5px;
}

.dashboard, .transactions, .blocks{
  margin-bottom: 50px;
}

table.table a{
  color: #007bff;
}

table.table a:hover{
  color: #1d6fa5;
}

.border-table{
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px 18px 10px 18px ;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  height: 100%;
}

th {
  min-width: 150px;
  font-weight: 550 !important;
}

td {
 max-width: 200px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

/*
  input search
*/
.box-search{
  margin-bottom: 30px;
  width: 100%;
}

.form-search {
  outline: 0;
  float: left;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  width: 60%;
}

@media(max-width: 768px){
  .form-search{
    width: 75%;
  }
}

@media(max-width: 576px){
  .box-search{
    padding-right: 15px;
    padding-left: 15px;
  }

  .form-search {
    width: 100%;
  }
}

.form-search > .textbox {
  outline: 0;
  height: 42px;
  width: calc(100% - 42px);
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  border-radius: 4px 0 0 4px;
}

.form-search > .textbox:focus {
  outline: 0;
  background-color: #ffffff;
}

.form-search > .button {
  outline: 0;
  background: none;
  background-color: rgba(38, 50, 56, 0.8);
  float: left;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #ffffff;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: background-color .4s ease;
  border-radius: 0 4px 4px 0;
}

.form-search > .button:hover {
  background-color: rgba(0, 150, 136, 0.8);
  cursor: pointer;
}

.table-blocks .dataTables_scrollBody{
  overflow-x: scroll !important;
}

.table-transactions .dataTables_scrollBody{
  overflow-x: scroll !important;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.pagination a{
  border-radius: 10px;
}

a.pagination-button {
  margin: 4px;
  width: 40px;
  height: 40px;
  box-shadow: none;
  font-size: 14px;
  background-color: white;
  border: 1px solid #DCDCE0;
  display: flex;
  justify-content: center;
  color: black;
  line-height: 40px;
}

a.pagination-button:hover {
  background-color: #d5d5d5;
}

a.pagination-button:disabled {
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.12);
}

a.pagination-button img {
  width: 16;
}

a.pagination-button.selected {
  background-color: #222C3C;
  color: white;
  pointer-events: none;
}

.box-pagination{
  margin-top: 20px;
}

.box-show-more{
  padding: 5px;
  margin-top: 20px;
  text-align: center;
}

.box-show-more:hover{
  background-color: #dddddd;
  cursor: pointer;
}

@media (max-width: 768px){
  .table-up{
    margin-bottom: 30px;
  }
}

/*
  footer
*/
footer{
  background-color: #dddddd !important; 
  padding: 10px;
  border-top: 1px solid black;
}

footer a:hover{
  font-weight: 400;
}

/*
  Detail
*/
.box-detail{
  margin-top: 25px;
  border: 1px solid black;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px 18px 10px 18px ;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.box-detail .form-control{
  border: none;
  padding-left: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 90%;
}

.box-detail i.icon-question {
  position: absolute;
}

.box-detail label{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 70%;
  transform: translateX(25px);
}


/*
  block-detail
*/
.block-detail{
  margin-top: 20px;
}

.block-detail .code-block{
  color: #77838f;
  font-size: 16px;
}

.block-detail a{
  color: #007bff !important;
}

.block-detail a:hover{
  color: #1d6fa5 !important;
}

.block-detail a.btn-back, .block-detail a.btn-next{
  border: 1px solid transparent;
  border-radius: .25rem;
  background: rgba(52,152,219,.1);
}

.block-detail a.btn-back i, .block-detail a.btn-next i{
  width: 20px;
  text-align: center;
}

.block-detail .btn-back{
  margin-left: 10px;
  margin-right: 5px;
}

.block-detail .btn-back:hover, .block-detail .btn-next:hover{
  color: #fff !important;
  background: #3498db;
  box-shadow: 0 4px 11px rgba(52,152,219,.35);
}
