body {
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  background-color: #f8f8f8;
  font-size: 16px;
}

label.status {
  font-size: 16px;
}

.custom-select {
  width: auto;
  font-size: 12px;
  margin-left: 5px;
}

.border-table{
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px 18px 10px 18px ;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

th {
  min-width: 150px;
  font-weight: 550 !important;
}

td {
 max-width: 200px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

.box-search{
  margin-bottom: 30px;
  width: 100%;
}

.form-search {
  outline: 0;
  float: left;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  width: 50%;
}

@media(max-width: 576px){
  .box-search{
    padding-right: 15px;
    padding-left: 15px;
  }

  .form-search {
    width: 100%;
  }
}

.form-search > .textbox {
  outline: 0;
  height: 42px;
  width: calc(100% - 42px);
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  border-radius: 4px 0 0 4px;
}

.form-search > .textbox:focus {
  outline: 0;
  background-color: #ffffff;
}

.form-search > .button {
  outline: 0;
  background: none;
  background-color: rgba(38, 50, 56, 0.8);
  float: left;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #ffffff;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: background-color .4s ease;
  border-radius: 0 4px 4px 0;
}

.form-search > .button:hover {
  background-color: rgba(0, 150, 136, 0.8);
  cursor: pointer;
}

.table-blocks .dataTables_scrollBody{
  overflow-x: scroll !important;
  height: 430px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.pagination a{
  border-radius: 10px;
}

a.pagination-button {
  margin: 4px;
  width: 40px;
  height: 40px;
  box-shadow: none;
  font-size: 14px;
  background-color: white;
  border: 1px solid #DCDCE0;
  display: flex;
  justify-content: center;
  color: black;
  line-height: 40px;
}

a.pagination-button:hover {
  background-color: #d5d5d5;
}

a.pagination-button:disabled {
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.12);
}

a.pagination-button img {
  width: 16;
}

a.pagination-button.selected {
  background-color: #222C3C;
  color: white;
  pointer-events: none;
}

.box-pagination{
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.border-table{
  height: 700px;
  position: relative;
}

@media (max-width: 768px){
  .border-table{
    height: auto;
  }
  .box-pagination{
    margin-top: 10px;
    position: unset;
  }
}
