{
  "endpoint": "https://polygon-rpc.com",
  "cacheServerUrl": "https://emeth-cache.testnet.alt.ai/api/v1/jobs",
  "storageApiUrl": "https://emeth-storage.testnet.alt.ai/api/v1/",
  "emethCoreContractAddress": "0x55bd956f55A44FA862A5EA033B0478Ecb344a665",
  "emethTokenContractAddress": "0xaa2b7BbEF0D8331b6bfE6ffa770c510F54AA95E5",
  "privateKey": "<YOUR SECRET>",
  "enableGpu": true
}
