{
  "emethContractAddress": "",
  "tokenContractAddress": "",
  "endpoint": "",
  "privateKey": "",
  "storageApi": "",
  "batchSize": "",
  "n_epochs": "",
  "device": "",
  "my_url": "",
  "worker_whitelist": [
    "*"
  ],
  "jsonrpc_whitelist": [
    "127.0.0.1"
  ],
  "external_db": {
    "host": "",
    "port": "",
    "user": "",
    "password": "",
    "database": ""
  },
  "cooperative": "nvm",
  "info_server_url":"",
  "min_fee": 10000000000000000000,
  "max_fee": 30000000000000000000
}