nav.navbar.navbar-expand-md.navbar-light.bg-white.header
  .container.p-sm-0
    a.navbar-brand.font-weight-bold(href='/dashboard') al+ scan
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarContent' aria-controls='navbarContent' aria-expanded='false' aria-label='Toggle navigation')
      span.toggler-box
        span.toggler-inner

    #navbarContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.pl-0.pl-md-4
          a.nav-link(href='/dashboard') Home
        li.nav-item.pl-0.pl-md-4
          a.nav-link(href='/blocks') Blocks
        li.nav-item.pl-0.pl-md-4
          a.nav-link(href='/transactions') Transactions
        li.nav-item.pl-0.pl-md-4
          a.nav-link(href='/tokens') Tokens
        //- li.nav-item.sign-in.pl-0.pl-md-4
        //-   i.fas.fa-user.pl-0.pl-md-4
        //-   a.nav-link(href='#' style = {'padding-right': 0}) Sign In
          
